article {
    height: 6%;
    width: 6%;
    margin: 10px; 

}

body,
html,
p,
section {
    margin: 0;
    padding: 0;
}

p {
    width: 10px;
}

section {
    display: flex;
    flex-wrap: wrap; 
    justify-content: start; */
}